/*-------------COLORS-------------*/
*{
    -fx-theme-color: -fx-main-color;
    -fx-theme-secondary-color: -fx-second-color;
    -fx-textFields-bg: #EEEEEE;
    -fx-error: red;
    -fx-success: #38B000;
    -fx-dark-bg: #121212;
    -fx-white: #FFFFFF;
    -fx-black: #000000;
    -fx-alter: #CCCCCC;
    -fx-disabled: #808080;

    -fx-shadow: #000;
    -fx-dark-transparent: #121212cc;
}
/*-------------BACKGROUNDS-------------*/
.primaryBackground{
    -fx-background-color: -fx-dark-bg;
}
.secondaryBackground{
    -fx-background-color: -fx-theme-color;
}
/*-------------FILLS-------------*/
.fill{
    -fx-fill: -fx-theme-color;
}
.fillDisabled{
    -fx-fill: -fx-disabled;
}
.fillCorrect{
    -fx-fill: -fx-success;
}
.fillError{
    -fx-fill: -fx-error;
}
.fillIcon{
    -fx-fill: -fx-theme-secondary-color;
}
/*-------------TEXT-------------*/
.mainText{
    -fx-text-fill: -fx-black;
}
.mainInvertText{
    -fx-text-fill: -fx-white;
}
.altText{
    -fx-text-fill: -fx-alter;
}
.themeMainText{
    -fx-text-fill: -fx-second-color;
}
.themeTouchOfColorText{
    -fx-text-fill: -fx-theme-color;
}
.errorText{
    -fx-text-fill: -fx-error;
}
.successText{
    -fx-text-fill: -fx-success;
}
/*-------------BUTTONS-------------*/
.loginButton{
    -fx-background-color: -fx-theme-color;
    -fx-background-radius: 3;
    -fx-min-width: 250;
    -fx-pref-width: 250;
    -fx-max-width: 250;
    -fx-min-height: 35;
    -fx-pref-height: 35;
    -fx-max-height: 35;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}
.loginButton:hover{
    -fx-background-color: #000000;
    -fx-background-radius: 3;
    -fx-border-color: -fx-theme-color;
    -fx-border-radius: 3;
    -fx-min-width: 250;
    -fx-pref-width: 250;
    -fx-max-width: 250;
    -fx-min-height: 35;
    -fx-pref-height: 35;
    -fx-max-height: 35;
    -fx-text-fill: -fx-theme-color;
    -fx-alignment: center;
}
.loginButton:pressed{
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.createAccountButton{
    -fx-background-color: -fx-theme-color;
    -fx-background-radius: 3;
    -fx-border-color: -fx-theme-secondary-color;
    -fx-border-radius: 3;
    -fx-min-width: 91;
    -fx-min-height: 27;
    -fx-text-fill: -fx-theme-secondary-color;
    -fx-alignment: center;
}
.createAccountButton:hover{
    -fx-background-color: -fx-theme-secondary-color;
    -fx-background-radius: 3;
    -fx-min-width: 91;
    -fx-min-height: 27;
    -fx-text-fill: -fx-theme-color;
    -fx-alignment: center;
}
.createAccountButton:pressed{
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.exitButton{
    -fx-background-color: -fx-theme-secondary-color;
    -fx-background-radius: 3;
    -fx-min-width: 60;
    -fx-pref-width: 60;
    -fx-max-width: 60;
    -fx-min-height: 25;
    -fx-pref-height: 25;
    -fx-max-height: 25;
    -fx-text-fill: -fx-theme-color;
    -fx-alignment: center;
}
.exitButton:hover{
    -fx-background-color: -fx-theme-color;
    -fx-background-radius: 3;
    -fx-border-color: -fx-theme-secondary-color;
    -fx-border-radius: 3;
    -fx-min-width: 60;
    -fx-pref-width: 60;
    -fx-max-width: 60;
    -fx-min-height: 25;
    -fx-pref-height: 25;
    -fx-max-height: 25;
    -fx-text-fill: -fx-theme-secondary-color;
    -fx-alignment: center;
}
.exitButton:pressed{
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
/*-------------TEXT FIELDS-------------*/
.textFields{
    -fx-background-color: -fx-textFields-bg;
    -fx-background-radius: 9;
    -fx-border-color: -fx-theme-color;
    -fx-border-width: 3;
    -fx-border-radius: 7;
    -fx-min-width: 250;
    -fx-pref-width: 250;
    -fx-max-width: 250;
    -fx-min-height: 35;
    -fx-pref-height: 35;
    -fx-max-height: 35;
    -fx-padding: 0 0 0 30;
}
.textFieldsCorrect{
    -fx-background-color: -fx-textFields-bg;
    -fx-background-radius: 9;
    -fx-border-color: -fx-success;
    -fx-border-width: 3;
    -fx-border-radius: 7;
    -fx-min-width: 250;
    -fx-pref-width: 250;
    -fx-max-width: 250;
    -fx-min-height: 35;
    -fx-pref-height: 35;
    -fx-max-height: 35;
    -fx-padding: 0 0 0 30;
}
.textFieldsError{
    -fx-background-color: #FFE0E0;
    -fx-background-radius: 9;
    -fx-border-color: -fx-error;
    -fx-border-width: 3;
    -fx-border-radius: 7;
    -fx-min-width: 250;
    -fx-pref-width: 250;
    -fx-max-width: 250;
    -fx-min-height: 35;
    -fx-pref-height: 35;
    -fx-max-height: 35;
    -fx-padding: 0 0 0 30;
}
/*-------------ALERT-------------*/
.alertText{
    -fx-font-size: 16px;
    -fx-text-fill: -fx-main-color;
    -fx-alignment: CENTER;
}
.alertSuccess{
    -fx-background-color:  -fx-dark-transparent; /*#262628*/
    -fx-effect: dropshadow(three-pass-box, -fx-shadow, 16, 0, 0, 0);
    -fx-border-color: -fx-success;
    -fx-border-radius: 0;
}
.alertSuccessIcon{
    -fx-fill: -fx-success;
}
.alertSuccessText{
    -fx-font-size: 16px;
    -fx-text-fill: -fx-success;
}
.alertFailure{
    -fx-background-color:  -fx-dark-transparent; /*#262628*/
    -fx-effect: dropshadow(three-pass-box, -fx-shadow, 16, 0, 0, 0);
    -fx-border-color: -fx-error;
    -fx-border-radius: 0;
}
.alertFailureIcon{
    -fx-fill: -fx-error;
}
.alertFailureText{
    -fx-font-size: 16px;
    -fx-text-fill: -fx-error;
}