<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/outbox</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <mapping class="main.java.entity.Areas"/>
    <mapping resource="Areas.hbm.xml"/>
    <mapping class="main.java.entity.PackageType"/>
    <mapping resource="PackageType.hbm.xml"/>
    <mapping resource="Packages.hbm.xml"/>
    <mapping class="main.java.entity.Packages"/>
    <mapping resource="UserInfos.hbm.xml"/>
    <mapping class="main.java.entity.UserInfos"/>
    <mapping resource="Users.hbm.xml"/>
    <mapping class="main.java.entity.Users"/>
    <mapping resource="PackageHistory.hbm.xml"/>
    <mapping class="main.java.entity.PackageHistory"/>


    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>