# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Lukasz\Desktop\Lukasz\1UCZELNIA\3_Trzeci_Rok\6_Programowanie_Zespolowe\20-21-pz-projekt-lab3-l3_g2_p_p_p_m_m\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
